*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body{
    margin: 0;
    padding: 0;
    
}
h1{
    font-size: 3.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}
h2{
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
}
h3{
    font-size: 1.3rem;
    font-family: 'Montserrat', sans-serif;
}
p{
    font-family:'Ubuntu', sans-serif ;
    line-height: 1.5;
}



/* navigation bar */

header{
    display: flex;
    flex-wrap: wrap;
}

.logo{
    display: inline-block;
    margin-right: 15%;
    margin-left: 7%;
}
.logo img{
    height: 120px;
    width: 300px;
}
nav{
    display: flex;
    

}

nav ul{
    list-style: none;
    
}

nav ul li{
    display: inline-block;
    
    
    
}

nav ul li:hover{
    background-color:#c8d2ce;
}

nav ul li a,nav ul li a:visited{
    font-weight: 700;
    color: #6487ba;
    font-size: 1.2rem;
    text-decoration: none;
    display: inline-block;
    padding: 40px 20px;
    font-family: 'Open Sans', sans-serif;
}

.home-icon{
    height: 15px;
    width: 15px;
    margin-left:5px;
}


.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #6487ba;
}

.nav-toggle{
    padding: 50px 10px;
    display: none;
}


.drop-down img{
    height: 13px;
    width: 15px;
    margin-left:5px;
}

.drop-down ul{
    display: none;
    position: absolute;
    background-color: #fff;
    /* top: 28px; */
}

.drop-down:hover ul{
    display:block   

}



.drop-down:hover ul li{
    display: block;
}

.drop-down ul li a{
    font-size: 1rem;
    padding:25px 17px ;
}



@media (max-width: 1310px){
    .logo{
        margin-left: 2%;
        margin-right: 10%;
    }
    nav ul li a,nav ul li a:visited{
        font-weight: 700;
        color: #6487ba;
        font-size: 1.1rem;
        
        padding: 40px 10px;
        
    }
}


@media (max-width: 1024px){
    .logo{
        margin-left: 0px;
        margin-right: 5%;
    }

    .logo img{
        height: 100px;
        width: 250px;
    }

    nav ul li a,nav ul li a:visited{
        font-weight: 700;
        color: #6487ba;
        font-size: 1rem;
        
        padding: 40px 10px;
        
    }
    .drop-down ul li a{
        font-size: 0.9rem;
        padding:25px 12px ;
    }
}


@media (max-width:850px){
    .logo{    
        margin-left: 0px;    
        /* margin-right: 0%; */
    }
    .logo img{
        width: 200px;
    }
    nav ul li a,nav ul li a:visited{
        font-weight: 700;
        
        font-size: 1rem;
        
        padding: 40px 5px;
        
    }
}


@media (max-width: 768px){

    .logo{
        margin-right: 50%;
    }

    .home-icon{display: none;}

    .drop-down img{display: none;}

    .nav-toggle{
        display: inline-block;        
        position: absolute;
        right: 3%;        
        padding: 40px 10px;            
        
    }


    nav{
        display: none;        
       
    }
    nav.show{
        display: block;
        width: 100%;
        background-color: #89b2ec;        
        text-align: center;
    }
    nav ul li{
        display: block;
        
    }
    nav ul li a,nav ul li a:visited{
        color: #fff;
    }
    nav ul li:hover{
        background-color:#89b2ec;;
        text-decoration: underline;
    }
    nav ul li a:hover{
        text-decoration: underline;
    }



    .drop-down:hover ul{
        display: none;
    }

    .drop-down:hover ul li{
        display: none;
    }


}




@media (max-width: 440px){
    .logo{
        margin-left: 0px;
        margin-right: 2%;
    }

    .title{
        height: 1000px;
    }

    .nav-toggle{
        display: inline-block;        
        position: absolute;
        right: 3%;        
        padding: 40px 10px;
            
        
    }
}











.section1{
    /* height: 1100px; */
    width: 100%;
    background-color: #e0e0e047;
    padding: 100px 120px 50px 120px;
    
}

.heading{
    padding: 30px 0px;
    border-left: 0px;
    border-right: 0px;
    border: 1px solid rgb(73, 73, 73);
    border-left: 0px;
    border-right: 0px;
    text-align: center;
    color: #413f3f;
}

.paragraph{
    margin: 50px 30px;
    font-size: 1.5rem;
    color: #413f3fcf;
    /* text-align: center; */
}

.contact-details{
    margin: 100px 30px;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
}


.contact-details-sub{
    margin: 0px auto;
    width: 500px;
    height: 600px;
}




.contact-form label{
    font-size: 1.3rem;
    font-family: 'Montserrat', sans-serif;
    display: block;
    color: #413f3f;
    margin-bottom: 10px;
}


.form-input{
    width: 70%;
    height: 40px;
    border: 1px solid rgba(56, 56, 56, 0.137);
    margin-bottom: 30px;
    border-radius: 4px;
    padding: 10px 20px;

}

.contact-form textarea{
    width: 100%;
    border: 1px solid rgba(56, 56, 56, 0.137);
    margin-bottom: 30px;
    border-radius: 4px;
    resize: vertical;
    padding: 10px 20px;
}





#submit-btn{
    width: 40%;    
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor:pointer;
    background-color: #ffee52;
    border: 1px solid #faee6f; 
    color:#191919e3;
    font-family: 'Ubuntu', sans-serif;
}


#address-info{
    
    height: 400px;
    margin-top: 50px;
    width: 500px;
    background-color: #89b2ec;
    box-shadow:10px 10px 5px #96b3dcd4;
    color: #fff;
    padding: 50px 40px;
    text-align: center;
    font-size: 1.4rem;
    line-height: 2;
}



@media(max-width: 768px){
    .section1{
        padding: 100px 0px 50px 0px
    }


    .contact-details{
        margin:100px 0px;
    }

    .contact-details-sub{
        margin: 20px;
        width: 300px;
        
    }

    .form-input{
        width: 95%;       
    
    }
    

    #submit-btn{
        width: 80%;
    }

    #address-info{    
        font-size: 1.2rem;
        width: 350px;
        height: 420px;

    }

           
}



@media(max-width: 731px){

    .section1{
        padding: 100px 0px 50px 0px
    }

    .contact-details-sub{
        margin: 20px auto;
        width: 90%;
        
    }

    #submit-btn{
        width: 40%;
    }

    .contact-form textarea{
        width: 95%;
        
    }
    
    #address-info{    
        margin-top: 50px;
        font-size: 1.2rem;
        width: 400px;
        height: 400px;

    }

}




@media(max-width: 426px){

    .section1{
        padding: 100px 0px 10px 0px;
    }
 




    .form-input{
        width: 90%;
    }

    #address-info{

        width: 90%;
        font-size: 1.1rem;
       
    }

    #submit-btn{
        width: 60%;
    }

}







/* footer  */


footer{
    /* height: 300px; */
    width: 100%;
    color: black;
    background-color: #fff;
}

.footer-container{
    margin: 30px 0px;
    border:2px solid #f1f1f1; 
    /* height: 270px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 40px;
}

.footer-container-item{
    padding-top: 30px;
    height: 250px;
    width: 330px;
   
    letter-spacing: 1.3px;
    line-height: 1.3;
    text-align: left;
}

.footer-container-item li{
    list-style: none;
    margin: 20px 0px;
    font-family:'Ubuntu', sans-serif;
    font-weight: lighter;
    color: #7A7A7A;
}
.footer-container-item h3{
    margin-bottom: 20px;
    color:#191919e3;
}

.footer-container-item p{
    font-size:1rem ;
    font-family:'Ubuntu', sans-serif;
    color: #7A7A7A;
      

}
.footer-icons{
    margin: 20px 0px 10px 60px;
}
.footer-container-item a:link{
    color: #7A7A7A;
    text-decoration: none;

}

.footer-container-item a:visited{
    color: #7A7A7A;
    text-decoration: none;
}
.footer-container-item a:hover{
    text-decoration: underline;
    color: #7A7A7A;
}

.footer-logo {
    margin: 0 auto;
    height: 120px;
    width: 300px;
    margin:40px 0px 0px 50px;
}

@media (max-width: 1024px)
{
    .footer-logo{        
        margin: 20px 0px;
    } 
}

@media (max-width: 768px){
    .footer-logo{
        width: 280px;
        margin: 20px 0px;
    }
}

@media(max-width: 430px){
    .footer-logo {    
         
        width: 280px;
        margin: 30px 0px 0px 0px;
    }
}